@import url("https://fonts.googleapis.com/css?family=Lato");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	margin: 2 auto;
	/* background-color: #c3def0; */
	font-size: 16px;
	font-family: "Lato", sans-serif;
	overflow-x: hidden;
  }

   /* styling the navbar */
   nav {
    background-color: #ffffff;
    font-size: 0;
    vertical-align: middle;
    height: 5.6rem;
    line-height: 6.6rem;
    padding-left: 1.2rem;
    }
    
    nav .nav-common {
    display:flex;
    }
    
    nav .logo {
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    }
    
    #logo {
    font-size: 1.8rem;
    font-weight: 600;
    }
    
    span {
    color: #cf5898;
    font-weight: 900;
    padding-left: 20px;
    padding-right: 100px;
    }
    
    nav ul {
    /* width: 100%; */
    list-style: none;
    font-size: 16px;
    }
    
    nav ul li {
    display: inline-block;
     margin-right: 8%;
    text-align: center;
    }
    
    nav ul li a {
    
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 1.0 rem;
    text-decoration: none;
    text-underline-position: below ;
    
    }
    
    nav ul li a:hover {
    color: #D1487B;
    
    }

    header{
      background-image: url(../public/header.jpg);
       background-size: cover;
      background-position: center;
      height: 80vh;
      margin: 0; 
      }
      
      #wowslider{
      font-size: 1.8rem;
      margin-bottom: 10px;
      
      }
      
      #wowslider button{
      background-color:#D1487B;
      color: #ffffff;
      padding: 1.6rem 1.5rem 1.6rem 1.5rem;
      margin-bottom: 10px;
      font-size: 1.8rem;
      border-style: none;
      }
      
      .bar h2{
      background-color: #D1487B;
      color: #ffffff;
      padding: 20px 20px 20px 20px;
      text-align: center;
      }
      
      .icons-container{
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .icon-items{
        padding-left: 2.0rem;
        padding-right: 2.0rem;
        }
        
          
  .review-container{
    display: flex;
    justify-content: center;
    background-color: #D2D2CF;
    
    }
    
    .review-container div{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 1.5rem 1.5rem 1.5rem;
    }
    hr{
    color: #000;
    height: 5px;
    
    }
    
    .review-head{
    color: #F6453C;
    font-size: 2.5rem;
    text-align: center;
    background-color: #F2F2F2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    }
    
    #leave-comment{
    margin-right:60px;
    padding: 1.0rem 2.2rem 1.0rem 2.2rem;
    float: right;
    border-radius:0px 20px 0px 0px;
    border-color: #666666;
    background-color: #58BA46;
    color: #ffffff;
    font-size: 20px;
    border-width: 3px;
    margin-top: 30px;
    }

    #leave-comment:hover{
      background-color: #666666;
      transition-duration: 1.2ms;
      }